extends layout

block content
    div#fullpage
        .section
            .container
                div.main.unauth
                    h1 Travelling made 
                        span.emph smart
                        |.
                    hr
                    p TravelSmart helps you make informed travel decisions so you can enjoy a safe journey.
                    div.about
                        div.col-xs-4
                            h1 Route
                            i.fa.fa-map-signs
                            p Reliable travel info for a variety of modes of transportation.
                        div.col-xs-4
                            h1 Weather
                            i.fa.fa-sun-o
                            p Accurate 7 day forecast for origin and destination.
                        div.col-xs-4
                            h1 Health
                            i.fa.fa-medkit
                            p Zika threat analysis to reduce your risk of infection.
                    a#go-to-app.btn.btn-primary(role='button') Plan your trip
        .section
            div#main.text-center
                div#map.col-xs-7
                div#sidebar.col-xs-4                    
                    div#data
                        ul#data-tabs.nav.nav-tabs.nav-justified
                            li.data-tab.active(role='presentation', data-toggle='tab')
                                a(target='_blank', href='#route') Route
                            li.data-tab(role='presentation', data-toggle='tab')
                                a(target='_blank', href='#weather') Weather
                            li.data-tab(role='presentation', data-toggle='tab')
                                a(target='_blank', href='#zika-threat') Zika Threat
                        div#route
                            h1#route-heading Route Info
                            div#route-error
                            div.no-info#orig-route-info Please select an origin location.
                            div.no-info#dest-route-info Please select a destination location.
                            div#route-info
                        div#weather
                            h1#weather-heading 7-Day Forecast
                            #weather-btn-group.btn-group(role='group', aria-label='...')
                                #weather-spline.btn.btn-primary.active(role='button') Spline
                                #weather-bar.btn.btn-primary(role='button') Bar
                                #weather-clouds.btn.btn-primary(role='button') Conditions
                            div#weather-info
                                div#weather-clouds-chart.chart.text-center
                                div#orig-weather
                                    div#orig-weather-chart.chart
                                    span.no-info#orig-weather-info Please select an origin location.
                                div#dest-weather
                                    div#dest-weather-chart.chart
                                    span.no-info#dest-weather-info Please select a destination location.
                        div#zika-threat
                            h1#zika-heading Zika Threat
                            #zika-btn-group.btn-group(role='group', aria-label='...')
                                #zika-graph.btn.btn-primary.active(role='button') Graphs
                                #zika-data.btn.btn-primary(role='button') Summary
                            div#zika-info
                                div#zika-chart.chart
                                div#zika-population.chart
                                div#zika-pie-chart.chart
                                div#zika-details
                                    ul#zika-cases Recorded cases
                                        li#zika-local
                                        li#zika-travel
                                    ul#zika-pop Population
                                        li#zika-pop-info
                                    div#zika-summary
                                    div#zika-reminder Click 
                                        a(target='_blank', href='#', onclick='return false;', data-toggle='modal', data-target='#zikaModal') here 
                                        | for more information about the Zika virus.
                                div#orig-zika
                                    span.no-info#orig-zika-info Please select an origin location.
                                div#dest-zika
                                    span.no-info#dest-zika-info Please select a destination location.
                        // Button trigger modal
                        //button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal') Launch demo modal
    div#inputs
        input#orig-input.controls(type='text', placeholder='Enter an origin')
        input#dest-input.controls(type='text', placeholder='Enter a destination')
        div#mode-selector.controls
            b Mode of Travel: 
            select#mode
                option(value='DRIVING') Driving
                option(value='WALKING') Walking
                option(value='BICYCLING') Bicycling
                option(value='TRANSIT') Transit
                option(value='FLIGHT') Flight

    // Modal
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h3#myModalLabel.modal-title About
                .modal-body
                    p TravelSmart is a web app that helps people make informed travel decisions, focusing on reducing the risk of Zika infection. The app draws from a variety of datasets, including climate, population, and Zika case count data to help users enjoy the safest journey possible.
                    ul Datasets
                        li
                            | Google Maps JavaScript API: 
                            a(target='_blank', href='https://developers.google.com/maps/documentation/javascript/3.exp/reference') Map and Directions services
                        li
                            | Global Climate Network: 
                            a(target='_blank', href='http://www.ncdc.noaa.gov/cdo-web/webservices/v2') CDO API for GHCN Daily Summaries
                        li
                            | Wunderground: 
                            a(target='_blank', href='https://www.wunderground.com/weather/api/') 10-Day Forecast API
                        li
                            | US Census:
                            a(target='_blank', href='http://www.census.gov/data/developers/data-sets/acs-1yr.2015.html') US County Population Data
                        li
                            | CDC: 
                            a(target='_blank', href='https://www.cdc.gov/zika/intheus/maps-zika-us.html') Maps of Zika in the United States
                    ul Resources
                        li
                            a(target='_blank', href='https://www.cdc.gov/zika/about/index.html') About Zika
                        li
                            a(target='_blank', href='https://www.cdc.gov/zika/prevention/index.html') Preventing Zika
                        li
                            a(target='_blank', href='https://www.cdc.gov/zika/geo/united-states.html') Case counts of Zika in the US
                    ul Technology
                        li Node, NPM
                        li D3.js
                        li C3.js
                .modal-footer
                    button.btn.btn-primary(type='button', data-dismiss='modal') Close
                    
    #zikaModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='zikaModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h3#myModalLabel.modal-title Zika Information
                .modal-body
                    p Zika is a virus that is primarly transmitted to people through the bites of the 
                        a(target='_blank', href='https://en.wikipedia.org/wiki/Aedes_aegypti') Aedes species mosquito
                        |. These are the same mosquitoes that spread dengue and yellow fever. They prefer living in warm climates near the equator.
                    img(src='mosquito.svg')
                    p Many people infected with Zika report no symptoms or only mild ones, including fever, rash, joint pain, and red eyes. If you think you have Zika, you should go see a doctor.
                    p Zika virus outbreaks have been reported in many countries, including the continental United States. In particular, many mosquito-borne Zika infections have been reported in Florida. Try to avoid travelling to areas with Zika outbreaks to reduce your risk of infection. You can click 
                        a(target='_blank', href='https://www.cdc.gov/zika/geo/united-states.html') here 
                        | to get more info about Zika cases in the US.
                    p There exists no vaccine for Zika: the best way to reduce your risk of getting Zika is to avoid mosquito bites. Some preventation measures include:
                    ul
                        li Use insect repellant
                        li Wear long-sleeved shirts and long pants
                        li Use screens on windows and use air conditioning when possible
                        li Clean or throw away items that hold water, as mosquitoes lay eggs in water
                    p Click 
                        a(target='_blank', href='https://www.cdc.gov/zika/index.html') here 
                        | for more information about the Zika virus.
                .modal-footer
                    button.btn.btn-primary(type='button', data-dismiss='modal') Close
                    
    #contactModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='zikaModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h3#myModalLabel.modal-title Contact
                .modal-body
                    h4 Do you have questions, comments, or suggestions? Fill out the form below.
                    form.form-horizontal
                        input(type='hidden', name='_csrf', value=_csrf)
                        .form-group
                            label(class='col-sm-2 control-label', for='subject') Subject
                            .col-sm-8
                                input#contact-subject.form-control(type='text', name='name', autofocus=true)
                        .form-group
                            label(class='col-sm-2 control-label', for='message') Body
                            .col-sm-8
                                textarea#contact-body.form-control(name='message', rows='5')
                .modal-footer
                    button#contact-submit.btn.btn-primary(type='button', data-dismiss='modal')
                        i.fa.fa-envelope
                        | Send
                    button.btn.btn-primary(type='button', data-dismiss='modal') Close
